<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="lognormal"
				xsi:type="File"
				fileName="${specialfolder:folder=ApplicationData}/oollie34/Vigilate/Log/output.log"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="10000000"
				archiveOldFileOnStartup="true"
				keepfileopen="false">
			<layout xsi:type="LayoutWithHeaderAndFooter">
				<header xsi:type="SimpleLayout" text="----------${processname} @ ${assembly-version}---------&#xD;&#xA;"/>
				<layout xsi:type="SimpleLayout" text="${level:uppercase=true:padding=-5} -- ${longdate}: ${message} | ${callsite:includeSourcePath=false:skipFrames=1}" />
				<footer xsi:type="SimpleLayout" text="----------End of Vigilate Log-----------&#xD;&#xA;"/>
			</layout>
		</target>
		<target name="logconsole" xsi:type="Console">
			<layout xsi:type="LayoutWithHeaderAndFooter">
				<header xsi:type="SimpleLayout" text="----------${processname} @ ${assembly-version}---------&#xD;&#xA;"/>
				<layout xsi:type="SimpleLayout" text="${level:uppercase=true:padding=-5} -- ${longdate}: ${message} | ${callsite:includeSourcePath=false:skipFrames=1}" />
				<footer xsi:type="SimpleLayout" text="----------End of Vigilate Log-----------&#xD;&#xA;"/>
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="lognormal" />
	</rules>
</nlog>